<div class="col">
  <div class="card mb-5 mb-lg-0">
    <div class="card-body">
      <h4 class="card-title text-muted text-uppercase text-center">{{plan}}</h4>
      <h5 class="card-price text-center">${{price}}<span class="period">/month</span></h5>
      <hr>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{desc}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{storage}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{limit}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{access}}</li>
        <li class={{privateList}}><span class=" fa-li"><i class={{privateIcon}}></i></span>{{private}}</li>
        <li class={{supportList}}><span class="fa-li"><i class={{supportIcon}}></i></span>{{support}}</li>
        <li class={{subdomainList}}><span class=" fa-li"><i class={{supportIcon}}></i></span>{{subdomain}}</li>
        <li class={{reportsList}}><span class="fa-li"><i class={{reportsIcon}}></i></span>{{reports}}</li>
      </ul>
      <div class="d-grid">
        <a href="#" class="btn btn-primary text-uppercase">Get Now</a>
      </div>
    </div>
  </div>
</div>